    <!-- Footer -->
    <footer>
            {% assign version = "1.0.0" %}
            {% for version in site.data.version %} 
                {% if version.lastest == true %}
                  {% assign version = version.version  %}
                {% endif %}
            {% endfor %}           
        <div class="container text-center">
            <p class="text-copyright">Copyright &copy; 20{{ site.time | date: '%y' }} - {{ site.footer }} </p>
            {% if site.show-version %}
            <a href="{{ site.url }}/version_"><p id="text-version"> Versão {{ version }} </p></a>
            {% endif %}
            {% if site.show-author %}
            <p id="text-version">{{ site.author }}</p>
            {% endif %}
        </div>
    </footer>
