<form method="POST" action="https://formspree.io/mailing01@unna.eng.br"> 
    <div class="form-group">
        <label class="form-font" for="exampleFormControlInput2">nome completo</label>
        <input type="name" name="name" class="form-control" id="exampleFormControlInput2" placeholder="Ex. José Silva">
      </div>
    <div class="form-group">
        <label class="form-font" for="exampleFormControlInput1">email</label>
        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Ex. name@example.com">
    </div>
    <div class="form-group">
      <label class="form-font" for="exampleFormControlTextarea1">mensagem</label>
      <textarea name="textarea" class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="Diga o que precisa :)"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default btn-lg"> Enviar </button>
    </div>
</form>